<!DOCTYPE html>
<html {% if page.url == "/" %}class="full-height"{% endif %} lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="icon" href="/assets/img/favicon.ico" />
    <meta name="application-name" content="the belle">
    <meta name="description" content="{{ page.description | default: 'the belle is a wonderful website.' }}">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:title" content="the belle - {{ page.title }}">
    <meta property="og:image" content="/assets/img/og-image.png">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="the belle">
    <meta property="og:description" content="{{ page.description | defult: 'the belle is a wonderful website.' }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="the belle">
    <meta name="twitter:url" content="{{ page.url }}">
  </head>
  <body {% if page.url == "/" %}class="full-height"{% endif %}>
    {% include navigation.html %}
    <main {% if page.url != "/" %}class="extra-padding"{% else %}class="full-height"{% endif %}>
      {{ content }}
    </main>
  </body>
</html>
